*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.822);
}
#navbar{
    height: 40px;
    background-color: black;
}
#logo{
    font-size: 30px;
    color: rgb(39, 188, 104);
    margin-left: 680.5px;
    letter-spacing: 3px;
}    
.btn_link{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
#log_link{
    margin-left: 570px;
}